extends ../layouts/noPartialMain
include ../partials/mixins

block content
  .dashboard__page#dashboard__page
    .dashboard__page-flex
      //- 대시보드 좌측 사이드바 들어갈 자리 [Mixin으로 구현]
      +dashboardSideBar(loggedUser.role)
      //- 대시보드 우측 컨텐츠 들어갈 자리
      .dashboard__contents-flex
        #dashboard__manageRequest
          section.manageRequest__header
            h1.dashboard__title Manage Request
          section.manageRequest__body
            .manageRequest__flex
              //- 메뉴 이름
              ul.manageRequest__menu-items
                li.manageRequest__menu-item
                  .item__flex
                    h1.item__title.item__number #
                    h1.item__title.item__project Project
                    h1.item__title.item__expert Musician
                    h1.item__title.item__date Request Date
                    h1.item__title.item__status Status
              each item, index in totalManageRequest
                if item.title === "feedback"
                  each item2 in item.offerID
                    if item2.expertID[0]._id.toString() === loggedUser._id.toString()
                      +uploadResultModal(item, item2, index)
                else
                  each item2 in item.proposalID
                    if item2.expertID[0]._id.toString() === loggedUser._id.toString()
                      #mixin__section
                        +receptionModal(item2.type, item2, index)
                  each item3 in item.offerID
                    +uploadResultModal(item, item3, index)
                    //- if item3.expertID[0]._id.toString() === loggedUser._id.toString()
              //- 내용
              ul.manageRequest__items
                each item, index in totalManageRequest
                  li.manageRequest__item
                    .item__flex
                      h1.item__title.item__number=`${index + 1}`
                      h1.item__title.item__project=`${item.title === "feedback" ? "Feedback" : item.title === "promotion" ? "Promotion" : "Mix/Master"}`
                      .item__expert-wrapper
                        .item__expert-flex(data=item.musicianID[0]._id)
                          h1.item__expert=item.musicianID[0].name
                          +manageRequestUnderMenu(item, item.status, item.musicianID[0]._id, loggedUser._id, index)
                      h1.item__title.item__date=dateFormatMDY(item.createdAt)
                      h1.item__title.item__status(class=`item__status-${item.status.replace(" ", "")}`)=item.status
        //- BEGIN: Pagination
        if pagination
          #pagination__flex
            if totalManageRequest.length !== 0
              section.admin__pagination
                ul.pagination
                  li
                    a(href=`?page=1&limit=${limit}`)
                      img(src=`${imgPath}/admin/double-prev.png` width="40px")
                  if paginate.hasPreviousPages
                    li
                      a(href=paginate.href(true) aria-label="Previous")
                        img(src=`${imgPath}/admin/prev.png` width="40px")
                  each page in pages
                    if paginate.page == page.number
                      li.active
                        a.number-link(href=page.url)=page.number
                    else
                      li
                        a.number-link(href=page.url)=page.number
                  if paginate.hasNextPages(pageCount)
                    li
                      a(href=paginate.href())
                        img(src=`${imgPath}/admin/next.png` width="40px")
                  li
                    a(href=`?page=${pageCount}&limit=${limit}`)
                      img(src=`${imgPath}/admin/double-next.png` width="40px")

