extends ../layouts/adminMain

block content
  body.vertical-layout.vertical-menu-modern.navbar-floating.footer-static(data-open='click' data-menu='vertical-menu-modern' data-col='')
    main.admin__main
      .admin__page#admin__expert-page
        include adminSidebar
        //- BEGIN: Content
        .app-content.content
          .content-overlay
          .header-navbar-shadow
          .content-wrapper.container-xxl.p-0
            .content-body
              //- BEGIN: Top Button Collection
              .top__btn-items
                //- BEGIN: Search Button
                //- FIXME: 검색 기능을 사용하지 않는 경우 해당 영역 삭제 必
                .top__btn-item.top__search-btn-item.rsp-pc
                  form.needs-validation(method="GET")
                    .input-group
                      select#basicSelect.form-control(name="searchKey")
                        //- FIXME: 사용할 데이터 이름과 model에 사용된 key값을 value로 지정 [모든 검색은 키워드 검색, String만 가능, Number처리 필요할 경우 Controller에서 따로 작업 必]
                        each option in searchArr
                          if option.code === searchKey
                            option(value=option.code selected)=option.title
                          else
                            option(value=option.code)=option.title
                      input.form-control(type='search' name="searchValue" placeholder='Search for keyword' value=searchValue aria-describedby='button-addon2')
                      #button-addon2.input-group-append
                        button.btn.btn-primary.waves-effect(type="submit") Search
                //- END: Search Button
                //- BEGIN: Excel Download Button
                .top__btn-item
                  button#excel__download-btn.btn.btn-primary.waves-effect.waves-float.waves-light(type='button' name=`${adminNameKo}`)
                    i.download__icon(data-feather='download' style="margin-right: 5px;")
                    | Download Excel
                .top__btn-item
                  button#expert__approve-btn.btn.btn-primary.waves-effect.waves-float.waves-light(type='button' name=`${adminNameKo}`)
                    | Approve
                  //- FIXME: 데이터 동기화 必
                  table#tableData(style='display: none;')
                    thead
                      tr
                        th Number
                        th Status
                        th Thumbnail
                        th Email(userID)
                        th EmailAgreement
                        th Name
                        th Overview
                        th Current Location
                        th Title
                        th Previous/Current Client
                        th Best Project/Portfolio(Link)
                        th Providable Services
                        th Markets your service
                        th Company
                        th Why do you want to join us
                        th Expeirence
                        th Facebook
                        th Instagram
                        th Tiktok
                        th Youtube
                        th Website
                        th Spotify
                        th CreatedAt
                        th UpdatedAt
                    tbody
                      each item, index in excelData
                        tr
                          td=index + 1
                          if item.role === "expertAwait"
                            td Waiting
                          else if item.role === "expert"
                            td Approved
                          td=item.gradientColor
                          td=item.userID
                          td=`${item.emailSubscription ? "Agree" : "Disagree"}`
                          td=item.name
                          td=item.overview
                          td=item.currentCountry
                          each title in expertTitleArr
                            if title.id === item.title
                              td=title.name
                          td=item.previousClients
                          td
                            if item.bestProject
                              a(href=item.bestProject) Move to Link
                          td
                            each providableService in expertProvidableServicesArr
                              if item.providableServices.includes(providableService.id)
                                p=`${providableService.name}, `
                          td=item.serviceCountry
                          td=item.company
                          td=item.joinReason
                          each expertExperienceItem in expertExperienceArr
                            if expertExperienceItem.id === item.experience
                              td=expertExperienceItem.name
                          td=item.facebook
                          td=item.instagram
                          td=item.tiktok
                          td=item.youtube
                          td=item.website
                          td=item.spotify
                          td=dateFormatYMDHm(item.createdAt)
                          td=dateFormatYMDHm(item.updatedAt)
                //- END: Excel Download Button
                //- BEGIN: Create Button
                //- .top__btn-item
                //-   a.btn.btn-primary.waves-effect.waves-float.waves-light(href=`${routes.admin}${adminLink}/create`)
                //-     i.plus__icon(data-feather="plus" style="margin-right: 5px;")
                //-     =`${adminNameKo} 등록`
                //- END: Create Button
              //- END: Top Button Collection
              //- BEGIN: Basic Tables
              #basic-table.row
                .col-12
                  .card(style="overflow: scroll;")
                    .card-header
                      h1.card-header-title=`${adminNameKo}`
                    .card-body(style="display: flex; align-items: center; justify-content: space-between;")
                      p.card-text If you can't see anything, try scrolling left to right.
                      .custom-control.custom-checkbox
                        input.custom-control-input.all__checkBox(id=`all__checkBox` type='checkbox' name="all")
                        label.custom-control-label(for=`all__checkBox`) All
                    .table-responsive
                      //- FIXME: 각 칼럼 width 적절히 조정 후 합계로 min-width 설정 必
                      table.table.mb-0(style="min-width: 980px;")
                        thead
                          tr
                            //- FIXME: 데이터 동기화 必
                            th(scope='col' style="width: 80px;") Number
                            th(scope='col' style="width: 100px;") Status
                            th(scope='col' style="width: 100px;") Block
                            th(scope='col' style="width: 100px;") Name
                            th(scope='col' style="width: 200px;") ID [클릭 시 상세보기]
                            th(scope='col' style="width: 200px;") Created
                            th(scope='col' style="width: 200px;") Modified
                        tbody
                          form#expertApprove(method="POST" action=`${routes.admin}${routes.adminExpert}/approve`)
                            each item, index in adminItems
                              tr
                                //- FIXME: 데이터 동기화 必
                                td(scope='col' style="max-width: 80px;")
                                  span.font-weight-bold=`${index +1}`
                                td.ellipsis__td(scope='col' style="width: 200px;")
                                  if loggedUser.role === "master" || loggedUser.role === "admin"
                                    //- 승인
                                    if item.role === "expertAwait"
                                      .custom-control.custom-checkbox
                                          input.custom-control-input.wait__checkBox(id=`wait__checkBox${index}` type='checkbox' name="expertID" value=item._id)
                                          label.custom-control-label(for=`wait__checkBox${index}`) Waiting
                                    else if item.role === "expert"
                                      | Approved
                                td(scope='col' style="width: 100px;")
                                  #admin__block-section
                                    button.btn.btn-primary.waves-effect.waves-float.waves-light#block-user-btn(type="button" data-id=item._id) Block
                                td.ellipsis__td(scope='col' style="width: 100px;")=item.name
                                td.ellipsis__td(scope='col' style="width: 100px;")
                                  a.td__link(href=`${routes.admin}${adminLink}/detail/${item._id}`)=item.userID
                                    i.external-link__icon(data-feather='external-link')
                                td(scope='col' style="width: 100px;")=dateFormatYMDHm(item.createdAt)
                                td(scope='col' style="width: 100px;")=dateFormatYMDHm(item.updatedAt)
              //- END: Basic Tables
            //- BEGIN: Pagination
            #pagination__flex
              if adminItems.length !== 0
                nav(aria-label='Page navigation example')
                  ul.pagination.firstLast1-links.mt-1
                    li.page-item.first
                      a.page-link(href=`?page=1&limit=${limit}` aria-label="First")
                        i(data-feather='chevrons-left')
                    if paginate.hasPreviousPages
                      li.page-item.prev
                        a.page-link(paginate.href(true) aria-label="Previous")
                    each page in pages
                      if paginate.page === page.number
                        li.page-item.active(aria-current='page')
                          a.page-link(href=page.url)=page.number
                      else
                        li.page-item
                          a.page-link(href=page.url)=page.number
                    if paginate.hasNextPages(pageCount)
                      li.page-item.next
                        a.page-link(href=paginate.href())
                    li.page-item.last
                      a.page-link(href=`?page=${pageCount}&limit=${limit}`)
                        i(data-feather='chevrons-right')
            //- END: Pagination
        //- END: Content
    //- BEGIN: Repeated scripts
    include adminScripts
    //- END: Repeated scripts