extends ../layouts/adminMain

block content
  body.vertical-layout.vertical-menu-modern.navbar-floating.footer-static(data-open='click' data-menu='vertical-menu-modern' data-col='')
    main.admin__main
      .admin__detail-page#admin__mainVideoDetail-page
        include adminSidebar
        //- BEGIN: Content
        .app-content.content
          .content-overlay
          .header-navbar-shadow
          .content-wrapper.container-xxl.p-0
            .content-header.row
              .content-header-left.col-12.mb-1
                .row.breadcrumbs-top
                  .col-12
                    h2.content-header-title.float-left=`${adminNameKo} Detail`
                    .content-header-btns
                      .content-header-btn
                        a.btn.btn-primary.waves-effect.waves-float.waves-light(href=`${routes.admin}${adminLink}/update/${adminItem._id}`)
                          i.edit__icon(data-feather="edit" style="margin-right: 5px;")
                          | Edit
                      .content-header-btn
                        a.btn.btn-primary.waves-effect.waves-float.waves-light(onclick=`history.go(-1);`)
                          i.list__icon(data-feather="list" style="margin-right: 5px;")
                          | 목록으로
            .content-detached.content-left
              .content-body
                //- BEGIN: Blog Detail
                .blog-detail-wrapper
                  .row
                    //- BEGIN: Blog
                    .col-12
                      .card
                        .card-body
                          ul.card-body__items
                            li.card-body__item
                              h4.mb-50 썸네일
                              img.card-img-top(src=adminItem.thumbnail)
                            li.card-body__item
                              h4.mb-50 유형
                              p.card-text=adminItem.type
                            li.card-body__item
                              h4.mb-50 Title
                              p.card-text=adminItem.title
                            li.card-body__item
                              h4.mb-50 전문가
                              p.card-text=adminItem.expertID[0].userID
                            li.card-body__item
                              h4.mb-50 영상
                              if adminItem.type === "Youtube"
                                iframe(width='560' height='315' src=`https://www.youtube.com/embed/${adminItem.videoID}` title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                              else
                                #tiktok__video(style='width: 360px;')
                                  div(style='left: 0; width: 100%; height: 0; position: relative; padding-bottom: 177.777778%;')
                                    iframe#tiktokIframe(src=`https://www.tiktok.com/embed/${adminItem.videoID}` style='top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;' allowfullscreen scrolling='no' allow='encrypted-media;')
                            li.card-body__item
                              h4.mb-50 Created
                              p.card-text=dateFormatYMDHms(adminItem.createdAt)
                            li.card-body__item
                              h4.mb-50 Modified
                              p.card-text=dateFormatYMDHms(adminItem.updatedAt)
                    //- END: Blog
                //- END: Blog Detail
        //- END: Content
    //- BEGIN: Repeated scripts
    include adminScripts
    //- END: Repeated scripts
